[submodule "libtracer"]
	path = src/libtracer
	url = https://github.com/nullp0tr/libtracer
[submodule "libvterm"]
	path = src/libvterm
	url = https://github.com/neovim/libvterm
[submodule "dga"]
	path = src/dga
	url = https://github.com/nullp0tr/dga
[submodule "errm"]
	path = src/errm
	url = https://github.com/nullp0tr/errm
